<h2>
  <f:translate key="tx_sschforgotpill_domain_model_forgotpill.forgot_pill_in_week2"/>
  <br/>
  <f:translate key="tx_sschforgotpill_domain_model_forgotpill.did_you_take_the_pill_correctly_in_previous_week"/>
</h2>
<f:render partial="FormErrors"/>
<f:form method="post" action="result" name="newForgotPill" object="{newForgotPill}">
  <div class="form-check">
    <label for="didYouTakeThePillCorrectlyInPreviousWeeks1" class="form-check-label">
      <f:form.radio class="form-check-input" id="didYouTakeThePillCorrectlyInPreviousWeeks1" property="didYouTakeThePillCorrectlyInPreviousWeeks" value="1"/>
      <f:translate key="tx_sschforgotpill_domain_model_forgotpill.yes"/>
    </label>
  </div>
  <div class="form-check">
    <label for="didYouTakeThePillCorrectlyInPreviousWeeks0" class="form-check-label">
      <f:form.radio class="form-check-input" id="didYouTakeThePillCorrectlyInPreviousWeeks0" property="didYouTakeThePillCorrectlyInPreviousWeeks" value="0"/>
      <f:translate key="tx_sschforgotpill_domain_model_forgotpill.no"/>
    </label>
  </div>
  <f:render partial="ForgotPill/GoButtonForm"/>
</f:form>
