<f:layout name="Default"/>
<f:section name="main">
    <div class="jumbotron">
        <h2>
            <f:translate key="tx_sschforgotpill_domain_model_forgotpill.forgot_pill"/>
        </h2>
        <p class="lead">
            <f:translate key="tx_sschforgotpill_domain_model_forgotpill.index.intro_01"/>
        </p>
        <p class="lead">
            <f:translate key="tx_sschforgotpill_domain_model_forgotpill.index.intro_02"/>
            <f:link.action class="btn btn-primary" action="intro" controller="ForgotPill">
                Starten...
            </f:link.action>
        </p>
        <p class="lead">
            <f:translate key="tx_sschforgotpill_domain_model_forgotpill.index.intro_03"/>
        </p>
        <p class="lead">
            <f:translate key="tx_sschforgotpill_domain_model_forgotpill.index.intro_04"/>
            <f:link.page pageUid="{settings.minipille.pageUid}">Minipille</f:link.page>.
        </p>
    </div>
</f:section>
